# Python compiled files
*.pyc
__pycache__/


# Ignore DB
database.db
instance/database.db
*.sqlite
*.db


SRC/static/img/qrcodes/qr_0cb6c8e4-0593-4b50-ae5e-60c6db732708.png
SRC/static/img/qrcodes/qr_0f73439f-cfff-41c9-8196-ad8bd71bf77b.png
SRC/static/img/qrcodes/qr_dd664831-48cd-46bb-9cc1-0ba1d2a10f2c.png
