{% extends "base.html" %}

{% block content %}
<h2>Información de contacto:</h2>
<div class="contact-info" style="border-left: 5px solid var(--primary-green); padding-left: 20px;">
    <h3>Números de teléfono:</h3>
    <p><strong>Número principal:</strong> <a href="tel:+34952564910" style="color: blue;">+34 952 564 910</a></p>
    
    <h3>Correos:</h3>
    <p>
        Correo principal: <a href="mailto:cudeca@cudeca.org">cudeca@cudeca.org</a><br>
        Socios: <a href="mailto:socios@cudeca.org">socios@cudeca.org</a><br>
        Eventos: <a href="mailto:eventos@cudeca.org">eventos@cudeca.org</a>
    </p>
       
    <h3>Direcciones físicas:</h3>
    <p>Centro de cuidados paliativos: <a href="https://www.google.com/maps/search/?api=1&query=Avenida+del+Cosmos,+s/n+-+Málaga" target="_blank">Avenida del Cosmos, s/n - Málaga</a></p>
    
    <h3>Redes sociales:</h3>
    <ul>
        <li>
            <a href="https://www.instagram.com/voluntariadocudeca" target="_blank">
                instagram.com/voluntariadocudeca
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/voluntarioscudeca" target="_blank">
                facebook.com/voluntarioscudeca
            </a>
        </li>
    </ul>
</div>
{% endblock %}