{% extends "base.html" %}

{% block content %}
<div class="event-banner">
    <!-- Imagen grande del evento -->
    {% if evento.imagen_evento %}
    <img src="{{ url_for('static', filename=evento.imagen_evento) }}" alt="{{ evento.nombre_evento }}"
        style="width: 100%; max-height: 400px; object-fit: cover; border-radius: 10px; margin-bottom: 20px;">
    {% endif %}
    <h1>{{ evento.nombre_evento }}</h1>
    <p class="date">{{ evento.fecha }}</p>
    {% if current_user.is_authenticated and current_user.es_admin %}
    <div style="margin-top: 15px;">
        <a href="{{ url_for('editar_evento', id=evento.id) }}" class="btn btn-warning">Editar Evento</a>
        <a href="{{ url_for('confirmar_eliminar_evento', id=evento.id) }}" class="btn btn-danger">Eliminar Evento</a>
    </div>
    {% endif %}
</div>

<div style="text-align: center; margin: 20px 0;">
    <a href="{{ url_for('pago_entrada', id_evento=evento.id) }}" class="btn btn-yellow">COMPRAR ENTRADA</a>
</div>

<div class="event-full-details">
    <h3>Detalles del evento</h3>
    <p>{{ evento.informacion }}</p>
    <p><strong>Lugar:</strong> {{ evento.localizacion }}</p>
</div>
{% endblock %}