{% extends "base.html" %}

{% block content %}

<div class="fondo-desenfocado"></div>

<div class="login-container">
    <h2>Iniciar sesión</h2>
    <p>Cada pequeño gesto cuenta.</p>
    
    <form method="POST" class="login-form">
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn btn-green">Iniciar sesión</button>
        <p>¿Todavía no tienes cuenta? <a href="{{ url_for('registro') }}">Regístrate aquí</a></p>
    </form>
</div>
{% endblock %}