{% extends "base.html" %}

{% block content %}


<img class="mision-img" src="{{ url_for('static', filename='img/mision1.PNG') }}" alt="Misión_imagen_penpot_1">

<img class="mision-img" src="{{ url_for('static', filename='img/mision2.PNG') }}" alt="Misión_imagen_penpot_2">

<div class="cta-buttons" style="text-align: center; margin-top: 30px;">
    <a href="{{ url_for('hazte_socio') }}" class="btn btn-green">Hazte socio</a>
    <a href="{{ url_for('hazte_voluntario') }}" class="btn btn-green">Hazte voluntario</a>
    <a href="{{ url_for('donar') }}" class="btn btn-green">Dona</a>
</div>
{% endblock %}