{% extends "base.html" %}

{% block content %}
<div class="event-banner">
    <!-- Imagen grande del evento -->
    <h1>{{ evento.nombre_evento }}</h1>
    <p class="date">{{ evento.fecha }}</p>
</div>

<div style="text-align: center; margin: 20px 0;">
    <a href="{{ url_for('pago_entrada', id_evento=evento.id) }}" class="btn btn-yellow">COMPRAR ENTRADA</a>
</div>

<div class="event-full-details">
    <h3>Detalles del evento</h3>
    <p>{{ evento.informacion }}</p>
    <p><strong>Lugar:</strong> {{ evento.localizacion }}</p>
</div>
{% endblock %}